<WuModal @title="Add File to " @dialog-class="modal-dialog--wide modal-dialog--sectioned">
    <p>{{@folder.value}}</p>
    <div class="modal-dialog__footer">
        <label class="form__label form__label--block u-spacer--small" for="predicate">
            Filename
            <Textarea class="textarea textarea--block u-spacer--tiny" rows="1" @value={{this.fileValue}} />
        </label>
            
    <WuButtonGroup>
        <WuButton  @label="Save" class="button button--narrow" @onClick={{this.save}}/>
        <WuButton @label="Cancel" class="button button--alt button--narrow" @onClick={{@onClose}}/>
    </WuButtonGroup>
  </div>
</WuModal>