<div class="modal-dialog__content">
  <p class="u-spacer--tiny">
    <ProfileHeader/>
    {{#if @me}}
    <strong>{{@header}}</strong>
    {{else}}
    <strong>You are not logged in</strong>
    {{/if}}
  </p>
  {{#if @me}}
  {{yield}}
  {{/if}}
</div>