<div class="modal-dialog__content">
  <p class="u-spacer--tiny">
    Insert link to wikipedia?
    <br>
    <strong>Do you want to insert a link to {{@info.term}}?</strong>
  </p>
</div>
<div class="modal-dialog__footer">
  <WuButtonGroup>
    <WuButton @label="Yes" @size="small" @isNarrow={{true}} @commandLocation="below" @onClick={{this.insert}} />
  </WuButtonGroup>
</div>
