<div class="modal-dialog__content">
  <p class="u-spacer--tiny">
    Insert your profile card?
    <br>
    <strong>Do you want to insert your profile card?</strong>
  </p>
</div>
<div class="modal-dialog__footer">
  <WuButtonGroup>
    <WuButton @label="Yes" @size="small" @isNarrow={{true}} @commandLocation="below" @onClick={{this.insert}} />
  </WuButtonGroup>
</div>
