<div ...attributes>
    <label class="form__label form__label--block u-spacer--small" for="predicate">
        Subject name
        <Textarea class="textarea textarea--block u-spacer--tiny" rows="1" @value={{@model.subject}} />
    </label>
    <label class="form__label form__label--block u-spacer--small" for="object"> Object:
        <Textarea class="textarea textarea--block u-spacer--tiny" rows="1" @value={{@model.type}}/>
    </label>
</div>