<DocsHero @prefix="Ember" @heading="Say Solid Editor" @byline="Accessible linked data editor">
    <a href="/api-docs/index.html" id="ember199" class="
        docs-no-underline docs-bg-white docs-text-brand docs-text-xs docs-px-3 docs-py-2
        docs-rounded docs-mt-4 docs-shadow-md hover:docs-shadow-lg
        docs-transition hover:docs-nudge-t docs-font-bold docs-inline-block docs-uppercase
       ember-view"> Api Docs
    </a>
    <br>
    <a href="/editor/new-document" id="ember199" class="
        docs-no-underline docs-bg-white docs-text-brand docs-text-xs docs-px-3 docs-py-2
        docs-rounded docs-mt-4 docs-shadow-md hover:docs-shadow-lg
        docs-transition hover:docs-nudge-t docs-font-bold docs-inline-block docs-uppercase
       ember-view"> Solid Say editor
    </a>

</DocsHero>